<div class="row">
	<div class="col-md-4">
		<h1>Sign Up Confirmation</h1>
		<h4>Are you sure these values are correct?</h4>
		<h5>Email: <%= @user.email  %></h5>
		<h5>Name: <%= @user.name %></h5>
		<div class="btn-group">
			<%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success btn-block' %>
			<%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-block', method: :get %>
		</div>
	</div>
</div>